<h1><%= @club.club_name %></h1>

<%= image_tag @club.main_image unless @club.main_image.nil? %>
<p><%= @club.address %></p>
<p><%= @club.sport %></p>
<p><%= link_to "Change details", edit_club_path %></p>
<p><%= link_to "Back", clubs_path %></p>